<% layout("/layouts/boilerplate")%>
  <body>
    <h4>you will find listing here</h4>
    <!-- <form action="/listings/new" method="get">
      <button>Add new Listing</button>
    </form> -->
    <ul>
      <%for (listing of listings){%>
      <li> <a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
      <%}%>
    </ul>
  </body>

