*{
    padding: 0;
    margin: 0;
}
.navbar{
    /* height: 100px; */
    background-color: white;
}
.fa-compass{
    color: #fe424d;
}
#newListingForm{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;
    border: 1px solid white;
    gap: 1rem;
}
#newListingForm input,
#newListingForm textarea,
#newListingForm button {
    padding: .5rem 1rem;
    border: 2px solid red;
}
#newListingForm textarea{
    resize: vertical;
}

body{
    background-color: red;
}

.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.f-info-socials{
    font-size: 1.2rem;
}
.f-info-links a {
    text-decoration: none;
    color: #222222;

    &:hover{
        text-decoration: underline;
    }
}